snippet mc "Multicomment" wA
--[[
$1
]]$0
endsnippet

snippet if "if statement" b
if ${1:condition} then
${0}
end
endsnippet

snippet ife "If and else" wA 
if ${1:condition} then
	${2}
else
	${3}
end ${0}
endsnippet

